@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Title = "Hidden Battleship";
}
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HiddenBattleship.MVC.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <style>
            .battl{
                font-family: 'Sans Serif Collection';       
                font-size: x-large;
            }

            .blue{
                color: royalblue;
            }
               
        </style>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand battl" asp-area="" asp-controller="Home" asp-action="Index">BattleShip</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-route-id="" asp-action="Index">Profile</a>
                        </li>
                    </ul>

                    <!--WELCOME USER-->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @{
                                var fullname = HttpContextAccessor.HttpContext?.Session.GetString("username");                                
                            }
                            <a href="../Profile/Index" class="nav-link text-dark">Welcome... <span class="blue">@fullname</span></a>
                        </li>
                    </ul>

                     <!--AUTHENTICATION CHECK-->
                    <ul class="navbar-nav ms-auto">
                   @if(Authenticate.IsAuthenticated(Context))
                    {
                         <li class="nav-item bg-secondary rounded m-2 login">
                              <a class="nav-link bg-secondary text-white" asp-area="" asp-controller="Profile" asp-action="Logout">Logout</a>
                         </li>
                    }
                    else
                    {
                         <li class="nav-item bg-light rounded m-2 login ">
                              <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Login">Login</a>
                         </li>
                    }                              
                    </ul>        
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @* <div class="container">
            &copy; 2023 - HiddenBattleship.MVC.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
