@page
@using HiddenBattleship.BL.Models;
@model Game


<div class="hero">
    <h1>Pick your opponent..</h1>
    <div class="button-container">
        <a href="/Game/Live" class="button">Live Game</a>
        <a href="/Game/Computer" class="button">Computer</a>
    </div>
</div>

<style>
    body {
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
    }

    .hero {
        margin-top: 200px;
        text-align: center;
    }

    .button-container {
        margin-top: 20px;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        border-radius: 5px;
        margin: 0 10px;
        cursor: pointer;
    }

        .button:hover {
            background-color: #7eade1;
        }
</style>