@page
@using HiddenBattleship.BL.Models;
@model Game



<div class="hero">
    
    <h1 class="mainColor">Pick your opponent..</h1>
    <div class="button-container">
        <a href="/Game/Live" class="button btn-main">Live Game</a>
        <a href="/Game/Computer" class="button btn-main">Computer</a>
    </div>
</div>

<style>
    body {
        
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: white;
        background-image: var(--gradient);
        background-size: 400%;
        animation: bg-animation 10s infinite alternate;
    }

    .nav-bar-full{
        background-image: var(--gradient) !important;
        background-size: 400% !important;
        animation: bg-animation 10s infinite alternate !important;
    }

    .hero {
        margin-top: 200px;
        text-align: center;
    }

    .button-container {
        margin-top: 50px;
    }

    .button {
        display: inline-block;
        padding: 12px 25px;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        margin: 0 10px;
        cursor: pointer;
    }


@@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}
 </style>