@page
@using HiddenBattleship.BL.Models;
@model Game



<div class="hero">
    <h1 class="mainColor">Pick your opponent..</h1>
    <div class="button-container">
        <a href="/Game/Live" class="button btn-main">Live Game</a>
        <a href="/Game/Computer" class="button btn-main">Computer</a>
    </div>
</div>

<style>
    body {
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: white;
    }

    .hero {
        margin-top: 200px;
        text-align: center;
    }

    .button-container {
        margin-top: 20px;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        margin: 0 10px;
        cursor: pointer;
    }
 
</style>