@model HiddenBattleship.BL.Models.Player
@{
    
}
<style>
        /* Center the form on the page */
        body1 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        /* Style the form for a clean look */
        .account-form {
            max-width: 400px;
            width: 100%;
            padding: 15px;
            margin: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            border-radius: 5px;
        }
        
    </style>
<div class="account-form">
    <h2 class="text-center mb-4">Login To Account</h2>
<form method="Post">
            <!-- Login with Username Input -->
            <div class="form-group">
                <label for="loginUsername">Username</label>
            <input type="text" class="form-control" id="loginUsername" placeholder="Enter your username" name="UserName">
            </div>

            <!-- Login with Password Input -->
            <div class="form-group">
                <label for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="Enter your password" name="Password">
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary btn-block" asp-action="Login" asp-controller="Profile">Log In</button>
        </form>
        </div>