<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hidden Battleship</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HiddenBattleship.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <style>
    .navbar-link {
    margin-left: 900px;
    }
    .nav-lnk{
            font-size: larger;
        }
        .priv{
            text-decoration: none;
            color: darkslategray;
        }
        .nav-grey{
            background-color: rgba(111, 111, 111, 0.00) !important;        }
    </style>
    <header>
        <nav class="navbar nav-grey navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Hidden Battleship</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark navbar-link nav-lnk" asp-area="" asp-page="/Index">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-lnk" asp-area="" asp-page="/Privacy">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container d-flex justify-content-center align-items-center">
            &copy; 2023 - Hidden Battleship  - <a class="priv" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>