:root {
    --gradient: linear-gradient( 45deg, #006466, #0b525b, #1b3a4b, #272640, #4d194d, #5d194d );
}

html {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}
.txt-light{
    color: white;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin-bottom: 60px;
    font-family: "Montserrat", sans-serif;
    background-color: #252525 !important;
}

nav {
    background-color: #474747;
    color: white !important;
    font-size: x-large;
}

.btn-main {
    background-color: transparent;
    outline-color: #A78295 !important;
    color: white !important;
    font-weight: 500 !important;
    border: 2px solid black !important;
    box-shadow: 2px 2px 10px inset white;
    transition: 1s background-color;
}

    .btn-main:hover {
        background-color: rgba(223, 223, 223, 0.5);
        color: black !important;
        transition-delay: 0s;
    }
    .btn-main:focus {
        background-color:  #52ee83;
        ;
    }

.drk {
    background-color: #cec6c6;
}

.cust-link {
    color: #acceec;
}

.cust-link:hover{
    color: black;
}


 
.footer-container{
    display: flex;
    justify-content: center;
}



/*<!-- NEW LOGIN BUTTOn -->*/
a.log {
    animation: 1.5s ease infinite alternate running shimmer;
    background: linear-gradient(90deg, #FFE27D 0%, #64E3FF 30%, #9192FF 85%);
    background-size: 200% 100%;
    border: none;
    border-radius: 6px;
    box-shadow: -2px -2px 10px rgba(255, 227, 126, 0.5), 2px 2px 10px rgba(144, 148, 255, 0.5);
    color: #170F1E;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-left: 15px;
    font-weight: 670;
    line-height: 24px;
    overflow: hidden;
    padding: 12px 24px;
    position: relative;
    text-decoration: none;
    transition: 0.2s;
    svg
{
    left: -20px;
    opacity: 0.5;
    position: absolute;
    top: -2px;
    transition: 0.5s cubic-bezier(.5,-0.5,.5,1.5);
}

&:hover svg {
    opacity: 0.8;
    transform: translateX(50px) scale(1.5);
}

&:hover {
    transform: rotate(-3deg);
}

&:active {
    transform: scale(0.95) rotate(-3deg);
}

}

@keyframes shimmer {
    to {
        background-size: 100% 100%;
        box-shadow: -2px -2px 6px rgba(255, 227, 126, 0.5), 2px 2px 6px rgba(144, 148, 255, 0.5);
    }
}

